body {
  display: flex;
  margin: 0px;
  position: relative;
  min-height: 100vh;
  padding-left: 30%;
}

/* ----------------------------------- Left Container -----------------------------------  */

#left-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  box-sizing: border-box;
  border-right: 2px solid rgb(255, 106, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
}
.prompts {
  border-left: 15px solid rgb(255, 106, 0);
  border-right: 35px solid rgb(255, 106, 0);
  padding: 5px;
  padding-left: 10px;
  border-top: 1px dotted rgb(255, 106, 0);
  border-bottom: 1px dotted rgb(255, 106, 0);
  margin: 0px;
  margin-bottom: 5px;
  margin-top: 10px;
  box-sizing: border-box;
  font-family: Optima, sans-serif;
}
#mapbox {
  margin: 0px;
  height: 60%;
  border-top: 2px solid rgb(255, 106, 0);
  border-bottom: 2px solid rgb(255, 106, 0);
}

/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* Customize the checkmark */
.custom-checkbox .checkmark {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 2px solid gray;
  border-radius: 30%;
}

/* Customize the checkmark when the checkbox is checked */
.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  border-color: orange;
}

/* Add the circle check shape when the checkbox is checked */
.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: orange;
  border-radius: 50%;
}

/* Change the border color when the checkbox is focused */
.custom-checkbox input[type="checkbox"]:focus + .checkmark {
  outline: none;
  border-color: orange;
}

/* Style the label text */
.custom-checkbox {
  font-family: Optima, sans-serif;
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Slider  */
.radio-container {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: none;
}

.radio-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.radio-group label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  cursor: pointer;
}

.radio-group input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-group .radio-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #000;
  margin-bottom: 10px;
  z-index: 10;
}

.radio-group input[type="radio"]:checked + .radio-button {
  background-color: #f58023;
  border: 2px dashed black;
  color: #fff;
}

.radio-group input[type="radio"]:checked > .radio-year {
  margin-top: 40px;
}

.radio-group .radio-year {
  font-size: 16px;
  margin-top: 5px;
  color: #000;
  font-family: Optima, sans-serif;
  font-style: italic;
}


.radio-group::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  transform: translateY(-50%);
  background-color: #000;
  z-index: -1;
}

.radio-group label:first-child::before {
  display: none;
}

.radio-group .radio-button::after {
  content: "";
  display: block;
  position: absolute;
  width: 14%;
  height: 2px;
  transform: translateX(70%);
  background-color: black;
  z-index: 0;
}

.radio-group label:last-child .radio-button::after {
  display: none;
}

.radio-region {
    font-size: 20px;
}

.radio-type {
    font-size: 20px;
}
/* ----------------------------------- Right Container -----------------------------------  */
#right-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  padding: 20px 0px 0px 0px;
}
.sankeyTopLegend{
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  font-family: Optima, sans-serif;
}
/* Sankey chart */
#sankey {
  margin: 0px;
  min-height: 80vh;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  

}

#sankeyBottomStat {
  margin-bottom: 120px;
  width: 100%;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.snakeyToolTip {
  border: 2px solid orange;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 350px;
  background-color: #ffffff;
}

.snakeyToolTip div {
  margin: 5px;
  font-size: 11pt;
}
.verticalSeparator {
  border-left: 2px solid orange;
  background-color: #f58023;
  margin: 0px !important;
}

g text {
  z-index: -10;
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
}

.google-visualization-tooltip {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 10px;
}

#weatherviztitle{
    font-family: Arial, Helvetica, sans-serif;    font-size:25px;
    align-items: center;
    text-decoration: underline;
}

#casvsproptitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    align-items: center;
    text-decoration: underline;
}


