body {

  display: flex;
  margin: 0px;
  position: relative;
  min-height: 100vh;
  padding-left: 30%;
}

/* ----------------------------------- Left Container -----------------------------------  */

#left-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: 1px solid red;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
}

#mapbox {
  margin: 0px;
  height: 60%;
}


/* Slider  */
.radio-container {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: none;

}

.radio-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.radio-group label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  cursor: pointer;
}

.radio-group input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-group .radio-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #000;
  margin-bottom: 10px;
  z-index: 10;
}

.radio-group input[type="radio"]:checked + .radio-button {
  background-color: #F58023;
  border: 2px dashed black;
  color: #fff;
}

.radio-group input[type="radio"]:checked > .radio-year {
  margin-top: 40px;
}

.radio-group .radio-year {
  font-size: 16px;
  margin-top: 5px;
  color: #000;
}


.radio-group::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  transform: translateY(-50%);
  background-color: #000;
  z-index: -1;
}

.radio-group label:first-child::before {
  display: none;
}

.radio-group .radio-button::after {
  content: '';
  display: block;
  position: absolute;
  width: 14%;
  height: 2px;
  transform: translateX(70%);
  background-color: black;
  z-index: 0;
}

.radio-group label:last-child .radio-button::after {
  display: none;
}

.radio-region {
    font-size: 20px;
}

.radio-type {
    font-size: 20px;
}
/* ----------------------------------- Right Container -----------------------------------  */
#right-container {
  display: flex;
  flex-direction: column;
align-items: start;
  border: 1px solid green;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  padding: 20px 20px 0px 20px;
}

/* Sankey chart */
#sankey {
  margin: 0px;
  min-height: 500px;
  height: 70vh;
  width: 100%;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}



